body {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 22px;
  line-height: 1.4;
}

#main {
  position: absolute; 
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 2em;
  grid-template-areas:
   "header"
   "introduction"
   "content"
   "footer"

}

.introduction {
  grid-area: introduction;
  float: left;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 16vh;
}

#thatWhichIsCast {
  display: inline-grid;
  grid-area: content;
  grid-auto-columns: 1fr;
  grid-auto-flow: unset;
}

@media only screen and (min-width: 799px)  {
  #thatWhichIsCast {
    display: inline-grid;
    grid-area: content;
    grid-auto-columns: 1fr 1fr 1fr;
    grid-auto-flow: column;
  }
  footer {
    grid-area: footer;
    height: 2.5rem;
    text-align: center;
    margin-top: 2rem;
    padding-bottom: 2rem;
    float: right;
    padding-right: 4rem;
  }
}

button {
  display: inline-block;
  padding: 0.2rem 2rem 0.2rem 2rem;
  text-align: center;
  line-height: 3rem;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  text-transform: none;
  border-radius: 0.2rem;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
}

footer {
  grid-area: footer;
  height: 2.5rem;
  text-align: center;
  margin-top: 2rem;
  padding-bottom: 2rem;
}

footer a {
  line-height: 4rem;
  text-decoration: none;
}


#canvas {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index:-1;
  background: linear-gradient(0deg, rgb(103, 185, 240), rgb(185,166,221), rgb(212,166,221), rgb(109, 152, 212), rgb(174, 117, 221));
  background-size: 600% 600%;
  -webkit-animation: colors 60s ease infinite;
  -moz-animation: colors 60s ease infinite;
  animation: colors 60s ease infinite;
}

hr {
  opacity: 0.5;
}

#left, #right {
  padding: 2rem;
  padding-top: 2rem;
  animation: change-in 2s alternate linear;
}

#left object, #right object {
  padding-top: 2rem;
  width: 100%;
}


#left a, #right a {
  line-height: 4rem;
  font-style: oblique;
  margin-left: 2rem;
}

#changing {
  padding: 1rem;
  padding-top: 5vh;
  animation: change-in 2s alternate linear;
}

#changing p {
  padding-top: 0.5rem;
}

#changing_text {
  font-weight: 700;
}

#left_hex, #right_hex {
  text-align: center;
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  font-style: normal;
  font-size: 12rem;
  font-weight: 300;
  line-height: 8rem;
}

#left_definition, #left_description, #right_definition, #right_description {
  margin-bottom: 0;
  margin-top: 0;
  margin-right: 2rem;
  font-weight: 300;
}

#left_definition, #right_definition {
  font-weight: 800;
}

#left_description, #right_description {
  margin-left: 2.5rem;
}


h1 {
  font-family: 'Ruthie', cursive;
  font-size: 18vw;
  margin: 0;
  font-weight: 300;
}

#translation {
  font-size: 4vw;
  padding-right: 4rem;
  margin-top: -1.2em;
}


h2 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 2.5rem;
  font-style: oblique;
}

a {
  color: black;
}

#hexagram {
 padding-top: 2rem;
}

#number {
  box-sizing: border-box;
  height: 10rem;
  margin-top: 2rem;
  justify-content: center;
  display: flex;
  align-items: center;
}

#again {
  padding-top: 2rem;
}

.line {
  opacity: 0.4;
  width: 8em;
  height: 4px;
  background: #FFF;
  animation: rolling 1.5s infinite ease;
}

.line:nth-of-type(2) { animation-delay: 0.1s;opacity: 0.5; }
.line:nth-of-type(3) { animation-delay: 0.2s;opacity: 0.6; }
.line:nth-of-type(4) { animation-delay: 0.3s;opacity: 0.7; }
.line:nth-of-type(5) { animation-delay: 0.4s;opacity: 0.8; }
.line:nth-of-type(6) { animation-delay: 0.5s;opacity: 0.9; }

@keyframes rolling {
  0%   {transform:rotate(0deg);}
  100% {transform:rotate(360deg);}
}

#guide {
  text-align:left;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
}

@keyframes change-in {
  0%   {opacity:0;);}
  100% {opacity:1;);}
}

#changing_lines, #changing_desc {
  font-size: 0.8em;
}

#changing_lines, #changing_desc, #changing_text {
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 2rem;
  margin-right: 2rem;
}

.green {
  border-color: rgb(165, 255, 76);
}

.green:hover {
  border-color: rgb(122, 191, 55)
}

.show {
  margin-top: 14px;
  border-color: rgb(165, 255, 76);
}

.show:hover {
  border-color: rgb(122, 191, 55)
}

@-webkit-keyframes colors {
  0%{background-position:0% 0%}
  100%{background-position:0% 100%}
}
@-moz-keyframes colors {
  0%{background-position:0% 0%}
  100%{background-position:0% 100%}
}
@keyframes colors {
  0%{background-position:0% 0%}
  100%{background-position:0% 100%}
}

.copyleft {
   display: inline-block;
   text-align: right;
   margin: 0px;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.animate {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fadeDown {
  -webkit-animation-name: fadeDown;
  animation-name: fadeDown;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

@-webkit-keyframes fadeDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.FadeUp {
  -webkit-animation-name: FadeUp;
  animation-name: FadeUp;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}

@-webkit-keyframes FadeUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 150%, 0);
    transform: translate3d(0, 150%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes FadeUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 150%, 0);
    transform: translate3d(0, 150%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.miniFadeUp {
  -webkit-animation-name: miniFadeUp;
  animation-name: miniFadeUp;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}

@-webkit-keyframes miniFadeUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 20%, 0);
    transform: translate3d(0, 20%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes miniFadeUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 20%, 0);
    transform: translate3d(0, 20%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.FadeUpContent {
  -webkit-animation-name: FadeUpContent;
  animation-name: FadeUpContent;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

@-webkit-keyframes FadeUpContent {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 20%, 0);
    transform: translate3d(0, 20%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes FadeUpContent {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 20%, 0);
    transform: translate3d(0, 20%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes hang {
  0% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  50% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
@keyframes hang {
  0% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  50% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
@-webkit-keyframes hang-sink {
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
@keyframes hang-sink {
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}

.hang {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hang:hover, .hang:focus, .hang:active {
  -webkit-animation-name: hang-sink, hang;
  animation-name: hang-sink, hang;
  -webkit-animation-duration: 1.25s, 1.5s;
  animation-duration: 1.25s, 1.5s;
  -webkit-animation-delay: 0s, 1.25s;
  animation-delay: 0s, 1.25s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}
