#container {
  position: absolute;
  width: 100%;
  height: 100%;
}

#canvas {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index:-1;
  background: linear-gradient(0deg, #542B72, #832C65, #3D3175, #542B72);
  background-size: 800% 800%;
  -webkit-animation: colors 60s ease infinite;
  -moz-animation: colors 60s ease infinite;
  animation: colors 60s ease infinite;
}

#left {
  padding-left: 24px;
}

#right {
  padding-right: 24px;
}

h1 {
  font-family: 'Ruthie', cursive;
  font-size: 80px;
  margin-bottom: 0px;
}

h2 {
  font-size:32px;
  font-weight: 500;
}

h3 {
  font-size: 140px;
}

a {
  color: black;
}

#translation {
  padding-right: 48px;
  margin-top: -16px;
}

#hexagram {
 padding-top: 36px;
}

.number {
  position: relative;
  box-sizing: border-box;
  padding-left: 105px;
  height: 100px;
}

.line {
  position: absolute;
  opacity: 0.4;
  top: 50%;
  margin-left: 10px;
  width: 60px;
  height: 4px;
  background: #FFF;
  animation: rolling 1.5s infinite ease;
}

.line:nth-of-type(2) { animation-delay: 0.1s;opacity: 0.5; }
.line:nth-of-type(3) { animation-delay: 0.2s;opacity: 0.6; }
.line:nth-of-type(4) { animation-delay: 0.3s;opacity: 0.7; }
.line:nth-of-type(5) { animation-delay: 0.4s;opacity: 0.8; }
.line:nth-of-type(6) { animation-delay: 0.5s;opacity: 0.9; }

@keyframes rolling {
  0%   {transform:rotate(0deg);}
  100% {transform:rotate(360deg);}
}

#guide {
  text-align:left;
}

#changing {
  background-color: rgba(200, 100, 150, 0.3);
  padding-bottom: 48px;
  padding-left: 24px;
  padding-right: 24px;
  margin-top: 48px;
  animation: change-in 2s alternate linear;
}

@keyframes change-in {
  0%   {opacity:0;);}
  100% {opacity:1;);}
}

#changing h2 {
  margin-top: 2rem;
}

#changing p {
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 22px;
  margin-right: 22px;
}

.main {
  background-color: rgba(255, 255, 255, 0.3);
  padding-bottom: 48px;
  margin-top: 48px;
  border: 2px solid black
}

.footer {
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  margin-top: 14px;
  border: 2px solid black
}

.green {
  border-color: rgb(165, 255, 76);
}

.green:hover {
  border-color: rgb(122, 191, 55)
}

.center {
  text-align: center;
}

.show {
  margin-top: 14px;
  border-color: rgb(165, 255, 76);
}

.show:hover {
  border-color: rgb(122, 191, 55)
}

@-webkit-keyframes colors {
  0%{background-position:0% 0%}
  100%{background-position:0% 100%}
}
@-moz-keyframes colors {
  0%{background-position:0% 0%}
  100%{background-position:0% 100%}
}
@keyframes colors {
  0%{background-position:0% 0%}
  100%{background-position:0% 100%}
}

.copyleft {
   display: inline-block;
   text-align: right;
   margin: 0px;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
