body {
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 22px;
  line-height: 1.4;
}

@media all and (max-width: 1000px) {
  body {
    font-size: 36px;
  }
}

button {
  display: inline-block;
  padding: 4px 15px 4px 15px;
  text-align: center;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  text-transform: none;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
}

footer {
  height: 2.5rem;
  text-align: center;
  margin-top: 2rem;
  padding-bottom: 2rem;
  max-width: 800px;
}

footer a {
  text-decoration: none;
}

#container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex: 1;
  justify-content: center;
  align-content: flex-start;
  text-align: center;
  align-items: flex-start;
}

.main {
  background-color: rgba(255, 255, 255, 0.15);
  margin-top: 48px;
  border-radius: 1px;
  box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.08);
  width: 800px;
}

#canvas {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index:-1;
  background: linear-gradient(0deg, #542B72, #832C65, #3D3175, #542B72);
  background-size: 800% 800%;
  -webkit-animation: colors 60s ease infinite;
  -moz-animation: colors 60s ease infinite;
  animation: colors 60s ease infinite;
}

hr {
  opacity: 0.5;
}

#left, #right {
  max-width: 800px;
  background-color: rgba(200, 100, 150, 0.1);
  box-shadow: 0px 0px 0px 4px rgba(200, 100, 150, 0.08);
  animation: change-in 2s alternate linear;
}

#changing_text {
  font-weight: 700;
}

#left_hex, #right_hex {
  margin: 0;
  font-size: 12rem;
  font-weight: 300;
  line-height: 8rem;
}

h1 {
  font-family: 'Ruthie', cursive;
  font-size: 6em;
  margin-bottom: 0px;
  font-weight: 300;
}

h2 {
  font-size: 2rem;
  font-weight: 500;
}

a {
  color: black;
}

#translation {
  padding-right: 4em;
  margin-top: -2rem;
}

#hexagram {
 padding-top: 2rem;
}

#number {
  box-sizing: border-box;
  height: 10rem;
  margin-top: 2rem;
  justify-content: center;
  display: flex;
  align-items: center;
}

#again {
  padding-top: 2rem;
}

.line {
  opacity: 0.4;
  width: 8em;
  height: 4px;
  background: #FFF;
  animation: rolling 1.5s infinite ease;
}

.line:nth-of-type(2) { animation-delay: 0.1s;opacity: 0.5; }
.line:nth-of-type(3) { animation-delay: 0.2s;opacity: 0.6; }
.line:nth-of-type(4) { animation-delay: 0.3s;opacity: 0.7; }
.line:nth-of-type(5) { animation-delay: 0.4s;opacity: 0.8; }
.line:nth-of-type(6) { animation-delay: 0.5s;opacity: 0.9; }

@keyframes rolling {
  0%   {transform:rotate(0deg);}
  100% {transform:rotate(360deg);}
}

#guide {
  text-align:left;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
}

#changing {
  background-color: rgba(200, 100, 150, 0.1);
  padding: 1rem;
  animation: change-in 2s alternate linear;
}

@keyframes change-in {
  0%   {opacity:0;);}
  100% {opacity:1;);}
}

#changing h2 {
  margin-top: 2rem;
}

#changing p {
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 22px;
  margin-right: 22px;
}

.green {
  border-color: rgb(165, 255, 76);
}

.green:hover {
  border-color: rgb(122, 191, 55)
}

.show {
  margin-top: 14px;
  border-color: rgb(165, 255, 76);
}

.show:hover {
  border-color: rgb(122, 191, 55)
}

@-webkit-keyframes colors {
  0%{background-position:0% 0%}
  100%{background-position:0% 100%}
}
@-moz-keyframes colors {
  0%{background-position:0% 0%}
  100%{background-position:0% 100%}
}
@keyframes colors {
  0%{background-position:0% 0%}
  100%{background-position:0% 100%}
}

.copyleft {
   display: inline-block;
   text-align: right;
   margin: 0px;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.animate {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fadeDown {
  -webkit-animation-name: fadeDown;
  animation-name: fadeDown;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

@-webkit-keyframes fadeDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.FadeUp {
  -webkit-animation-name: FadeUp;
  animation-name: FadeUp;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}

@-webkit-keyframes FadeUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 150%, 0);
    transform: translate3d(0, 150%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes FadeUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 150%, 0);
    transform: translate3d(0, 150%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.miniFadeUp {
  -webkit-animation-name: miniFadeUp;
  animation-name: miniFadeUp;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}

@-webkit-keyframes miniFadeUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 20%, 0);
    transform: translate3d(0, 20%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes miniFadeUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 20%, 0);
    transform: translate3d(0, 20%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.FadeUpContent {
  -webkit-animation-name: FadeUpContent;
  animation-name: FadeUpContent;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

@-webkit-keyframes FadeUpContent {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 20%, 0);
    transform: translate3d(0, 20%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes FadeUpContent {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 20%, 0);
    transform: translate3d(0, 20%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes hang {
  0% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  50% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
@keyframes hang {
  0% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  50% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
@-webkit-keyframes hang-sink {
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
@keyframes hang-sink {
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}

.hang {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hang:hover, .hang:focus, .hang:active {
  -webkit-animation-name: hang-sink, hang;
  animation-name: hang-sink, hang;
  -webkit-animation-duration: 1.25s, 1.5s;
  animation-duration: 1.25s, 1.5s;
  -webkit-animation-delay: 0s, 1.25s;
  animation-delay: 0s, 1.25s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}
